{# src/Nuevo/Bundle/SiteBundle/Resources/views/recrutements.html.twig #}

{% extends 'NuevoSiteBundle:Default:base.html.twig' %}

{%block title %}Recrutement{{parent()}}{% endblock %}
{%block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/nuevosite/css/formulaire.css') }}">
{%  endblock %}
{%block javascript %}
    <script src="{{asset('bundles/nuevosite/js/miniatureFile.js')}}" type="text/javascript"></script>
{% endblock %}
{%block body %}
    <div class="col-lg-12  encart">
        <section class="col-lg-12 ">
            <h1>Nuevo recrute</h1>
            <p>
                Tu vas le prendre avec toi. 
                Tu brancheras ton téléphone mobile dessus afin que je puisse rester
                en contact avec toi.
                Il te faudra aussi un câble de liaison pour brancher ton ordinateur
                sur le réseau militaire
            </p>

        </section>
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form_start(form) }}

            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.cv) }}
            {{ form_row(form.motivation) }}
            {{ form_row(form.valider) }}
            {{form_end(form)}}
        </section>
    </div>

{% endblock %}
