{# src/Nuevo/Bundle/SiteBundle/Resources/views/recrutements.html.twig #}

{% extends 'NuevoSiteBundle:Default:base.html.twig' %}

{%block title %}Recrutement Envoyé{{parent()}}{% endblock %}

{%block body %}
    <p>Merci de votre interêt.</p>
    <p>Votre candidature à été enregistrer. Nous vous contacterons après avoir étudier votre demande.</p>
    {% endblock %}