{# src/Nuevo/Bundle/SiteBundle/Resources/views/actualites.html.twig #}

{% extends 'NuevoSiteBundle:Default:base.html.twig' %}

{%block title %}Actualites{{parent()}}{% endblock %}

{%block stylesheet %}
    {{parent()}}
{%  endblock %}

{%block body %}
    <span><h2>Suivez Toute l'actualité de nuevo</h2></span>
    <div class="text-center liens">
        <span><a href="{{path('nuevo_site_actu', {'page' : page-1})}}">precedent</a></span>
        <span>{{page}}</span> 
        <span><a href="{{path('nuevo_site_actu', {'page' : page+1 }) }}">suivant</a></span>
    </div>
    <section class="col-lg-12">
        {% for actu in actus%}
            <article class="col-lg-12 article encart">
                <header>
                    <hgroup>
                        <h4>{{actu.titre}}</h4>
                        <h5>{{actu.sousTitre}}</h5>
                    </hgroup>
                </header>	
                <p>
                    {{actu.texte | raw}}
                </p>
                <footer>{{actu.auteur}}</footer>
            </article>
        {% endfor %}
    </section>
    <div class="text-center liens">
        <span><a href="{{path('nuevo_site_actu', {'page' : page-1})}}">precedent</a></span>
        <span>{{page}}</span> 
        <span><a href="{{path('nuevo_site_actu', {'page' : page+1 }) }}">suivant</a></span>
    </div>    
{% endblock %}