{% extends NuevoSiteBundle:Default:base.html.twig %}

{% block title %} Centre de ressource {{parent()}}{% endblock %}

{%block stylesheet %}
    {{parent()}}
{%  endblock %}

{% block body %}

{% endblock %}
