
<h2>Formations NUEVO</h2>
<ul>
    {% for  categorie in categories %}
        {% set url = categorie.url %}
        <li class="itemCategorie">
            <a href="{{ path('nuevo_site_typeFormation', { 'url' : url } ) }}">
                <p>{{categorie.intitule}}</p>
            </a>
        </li>
    {% endfor %}
</ul>
