{% extends 'NuevoSiteBundle:Default:base.html.twig' %}

{%block title %}Qui sommes nous{{parent()}}{% endblock %}

{%block stylesheet %}
    {{parent()}}
{%  endblock %}

{%block body %}
    <section class="encart">
        <h2>Qui Somme Nous :</h2>
            Nuevo Conseil et Formation est un cabinet de conseil en Ressources Humaines<br>
            et un organisme de formation. Nous sommes implantés en Ile de France et en région centre.<br>
            Nos champs de compétences couvrent les domaines de la mobilité externe <br>
            (bilan de compétence et prestation de reclassement), de la formation à <br>
            destination des demandeurs d’emploi et des salariés.<br> 
            <span>Notre expérience, nous l’avons développée dans les domaines :</span>
            <ul>    
                <li><span>De prestation de coaching</span> de cadres salariés ou demandeurs d’emploi.
                <li><span>De l’accompagnement des salariés</span> et des demandeurs d’emploi : bilan de compétences, Validation des Acquis de l’expérience, prestation d’accompagnement à la transition professionnelle….</li>
                <li><span>De la formation</span> dans les secteurs du management, de la communication, du sanitaire et social, de la vente, de la logistique et de l’animation sportive…</li>
                <li><span>De la Formation linguistique et de l’apprentissage</span> des savoirs de base</li>
                <li><span>Du pilotage d’action et de dispositif</span> : organiser/programmer un ensemble d’actions/prestations complémentaires ou similaires ainsi que sa  gestion administrative et financière.</li>
            </ul>
    </section>
    <section class="encart">
        <h2>Nos valeurs :</h2>
            <ul>
                <li>L’intégrité : nos actions se doivent Honnêtes et transparentes, gage de confiance dans nos relations avec nos commanditaires, nos clients et nos partenaires.</li>
                <li>Éthique et déontologie : nous mettons tout en œuvre pour atteindre les objectifs qui nous sont assignés, sans jamais faire passer cette réussite avant le bénéfice réel et durable du demandeur d’emploi, du salarié ou  de l’entreprise que nous accompagnons.</li>
                <li>Respect des individus : chaque personne est considérée comme unique, chaque réponse se doit être sur mesure pour l’évolution professionnelle de chacun.</li>
                <li>Capacité d’innovation et d’évolution : nous recherchons en permanence de nouvelles solutions et cultivons l’esprit d’initiative dans l’objectif de réponde avec efficience à l’ensemble de nos clients.</li>
                <li>Professionnalisme et travail d’équipe : une politique d’amélioration de la qualité, la synergie des profils, des expériences et des approches de nos intervenants crée une dynamique collective profitable pour nos clients.</li>
                <li>L’égalité des chances : La promotion de l’égalité professionnelle femmes/hommes, l’emploi et l’intégration des travailleurs handicapés, l’emploi des seniors ou de façon plus globale la lutte contre les discriminations sont des orientations fortes de notre politique Ressources Humaines.</li>            
            </ul>
    </section>
{% endblock %}  
