{% extends 'NuevoSiteBundle:Default:base.html.twig' %}

{% block title %}Categorie Conseil{{parent()}}{% endblock %}

{% block stylesheet %}
    {{parent()}}
{% endblock %}


{% block body %}
    <div class="col-centered">
        <div class="row">
        {# {% for secteur in categorie.secteurs %}
            <div class="col-lg-3 secteur">
                <span class="titreSecteur">{{secteur.intitule | upper }}</span>
                <article>
                	{{secteur.contenu}}
                </article>
                <div class="selectionner">selectionner</div> 
            </div>
        {% endfor %} #}
        </div>
    </div>   
{% endblock %}    
