<!DOCTYPE html>
<html>
    <meta charset="utf-8" /> 
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} - Nuevo{% endblock %}</title>
        {% block stylesheet %}
            <link rel="stylesheet" href="{{ asset('bundles/nuevosite/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/nuevosite/css/base.css') }}">

        {% endblock %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ asset('bundles/nuevosite/images/favicon.png') }}" type="image/x-icon">
        {%javascripts '@NuevoSiteBundle/Resources/public/js/jquery-1.11.1.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        <div class="container">
            {% block header %} 
                {{ render(controller('NuevoSiteBundle:Default:menu' )) }}
            {% endblock %}
            <main class="row">
            {% block body %}{% endblock %}
        </main>


    </div>
    {% block footer %}
        {% include 'NuevoSiteBundle:Default:footer.html.twig' %}
    {% endblock %}
</body>
</html>