<footer class="footer row">


    <div class="container">
        Nuevo 

        fondateurs : JP.Denizot, N.AMRANI
        <div>

            <nav class="col-lg-9 col-md-9 col-sm-9 hidden-xs">
                <ul>
                    <li><a href="#">conseil</a></li>
                    <li><a href="#">formation</a></li>
                    <li><a href="#">produits</a></li>
                    <li><a href="{{ path('nuevo_site_actu') }}">actu</a></li>
                    <li><a href="{{ path('nuevo_site_recrutement') }}">recrutements</a></li>
                </ul>
            </nav>   
        </div>

    </div>
</footer>
<footer class="footerCorporate row">
    <div class="container">
        <div class="col-lg-9 col-md-9 col-sm-9 hidden-xs">
            <p>© Nuevo 2015 - Incone home by <a href="http://www.flaticon.com/authors/ocha">Ocha</a> / <a href="http://creativecommons.org/licenses/by/2.0/">Creative Commons</a></p>
        </div>
    </div><
</footer>