<header id="header" class="row">
    <nav class="col-lg-12 col-md-3 hidden-sm hidden-xs logo"><a href="{{path('nuevo_site_homepage')}}">Nuevo Index</a></nav>
    <nav class="col-lg-12 col-md-12 hidden-sm hidden-xs menu ">
        <ul>
            <li class="menuHome "><a class="libelleM" href="{{path('nuevo_site_homepage')}}">Index</a></li>
            <li class="menuFormation "><a class="libelleM" href="#" >Conseil</a>
                <div>
                {% for conseil in conseils %}
                    <div class="categorie">
                        {% set urlCons = conseil.url %}
                        <a href="{{ path('nuevo_site_typeCategorie', { 'url' : urlCons } ) }}">
                            <h1>{{conseil.intitule}}</h1>   
                        </a>
                    </div>
                {% endfor %}    
                </div>
            </li>
            <li class="menuFormation "><a class="libelleM" href="" >Formation</a>
                <div>
                {% for categorie in categories%}
                    <div class="categorie">
                        {% set url = categorie.url %}
                        <a href="{{ path('nuevo_site_typeFormation', { 'url' : url } ) }}">
                            <h1>{{categorie.intitule}}</h1>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </li>
            <li class="menuProduits "><a class="libelleM" href="#" >Produits</a></li>
            <li class="menuActualite "><a class="libelleM" href="{{ path('nuevo_site_actu', {'page' : 1 }) }}" >Actualités</a></li>
            <li class="menuQsn"><a id="libelleXL" href="{{ path('nuevo_site_presentation') }}" >Qui sommes nous</a></li>
            <li class="menuRecrutement "><a class="libelleM" href="{{ path('nuevo_site_recrutement') }}" >Recrutements
                </a>
            </li>
        </ul>
    </nav>


    {##### Menu Mobile #####}
    <script type="text/javascript">
         $(document).ready(function(){
            var isCollapsed = false;

            $('.btMenu').click(function(){
                console.info("click");
                if(!isCollapsed){
                    $('.menuMobile').show('slow');
                    isCollapsed = true;
                }else{
                    $('.menuMobile').hide('slow');
                    isCollapsed = false;
                }
            });
         });
    </script>    
    <nav class="row conteneurMenu">
        <div class="btMenu hidden-lg hidden-md col-xs-1">
        </div>
        <div class="menuMobile hidden-lg hidden-md col-sm-3s col-xs-3">
            <ul>
                <li><a class="" href="{{path('nuevo_site_homepage')}}">Index</a></li>
                <li><a  href="#" >Conseil</a></li>
                <li><a  href="" >Formation</a>
                    <div>
                    {% for categorie in categories%}
                        <div class="categorie">
                            {% set url = categorie.url %}
                            <h1>{{categorie.intitule}}</h1>
                            <a href="{{ path('nuevo_site_typeFormation', { 'url' : url } ) }}">
                                <img src="{{ asset('bundles/nuevosite/images/corporate/formation-pro.jpg') }}" alt="formation professionnels illustration corporate"/>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </li>
                <li class=""><a href="#" >Produits</a></li>
                <li class=""><a href="{{ path('nuevo_site_actu', {'page' : 1 }) }}" >Actualités</a></li>
                <li class=""><a href="{{ path('nuevo_site_presentation') }}" >Qui sommes nous</a></li>
                <li class=""><a href="{{ path('nuevo_site_recrutement') }}" >Recrutements
                    </a>
                </li>
            </ul>
        </div>
    </nav>	
    {##### FIN Menu Mobile #####}
</header>
