{# src/Nuevo/Bundle/SiteBundle/Resources/views/index.html.twig #}

{% extends 'NuevoSiteBundle:Default:base.html.twig' %}

{% block title %}
    Acceuil{{parent()}}  
{% endblock%}

{%block body %}
    <div class="container-fluid">
        <div class="row actu">
            <section class="col-lg-8 col-md-12 col-sm-12 col-xs-12 encart">
                <h2>Qui Somme Nous :</h2> 
                <p>Nuevo Conseil et Formation est un cabinet de conseil en Ressources Humaines
                    et un organisme de formation. Nous sommes implantés en Ile de France et en région centre.</p>
                <p>Nos champs de compétences couvrent les domaines de la mobilité externe 
                    (bilan de compétence et prestation de reclassement), de la formation à 
                    destination des demandeurs d’emploi et des salariés.</p>
                <p><span class="bold">Notre expérience, nous l’avons développée dans les domaines :</span><p>
                <ul>    
                    <li><span>De prestation de coaching</span> de cadres salariés ou demandeurs d’emploi.
                    <li><span>De l’accompagnement des salariés</span> et des demandeurs d’emploi : bilan de compétences, Validation des Acquis de l’expérience, prestation d’accompagnement à la transition professionnelle….</li>
                    <li><span>De la formation</span> dans les secteurs du management, de la communication, du sanitaire et social, de la vente, de la logistique et de l’animation sportive…</li>
                    <li><span>De la Formation linguistique et de l’apprentissage</span> des savoirs de base</li>
                    <li><span>Du pilotage d’action et de dispositif</span> : organiser/programmer un ensemble d’actions/prestations complémentaires ou similaires ainsi que sa  gestion administrative et financière.</li>
                </ul>
            </section>
            <div class="hidden-xs hidden-sm hidden-md col-lg-4 aside">
                <section class="actuHome">
                    <h2>Actualités</h2>
                    <ul>
                        {% for actu in actualites %}
                            <li>
                                <p><span class="dateActu">{{ actu.dateCreation|date('d/m/Y') }}</span> - 
                                    <a href="{{asset('')}}">{{ actu.titre }}</a></p>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>

        </div>
    </div>

    <section class=" produits">
        <div class="row">

            <section class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding-left">
                <div class="col-lg-12 encart ">
                    <h2 >Formation</h2>
                    <p>
                        Proin ullamcorper nibh rhoncus metus aliquet, et euismod velit tincidunt. 
                        Vestibulum posuere dui in faucibus tristique. Sed et tortor eget ante scelerisque mollis ac quis augue. 
                        Sed posuere elementum arcu eu scelerisque. Morbi porta imperdiet augue sit amet mattis.
                    </p>
                    <p>
                        Proin varius, nunc sit amet consectetur consectetur, diam lectus sagittis libero, et porttitor sem dolor at elit.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ac lorem massa. 
                        Nulla maximus, metus eu sodales pulvinar, ex quam blandit mauris, a faucibus arcu risus non nibh.
                    </p>
                </div>
            </section>
            <section class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding-right">
                <div class=" col-lg-12 encart ">
                    <h2 >Conseil</h2>
                    <p>
                        Proin ullamcorper nibh rhoncus metus aliquet, et euismod velit tincidunt. 
                        Vestibulum posuere dui in faucibus tristique. Sed et tortor eget ante scelerisque mollis ac quis augue. 
                        Sed posuere elementum arcu eu scelerisque. Morbi porta imperdiet augue sit amet mattis.
                    </p>
                    <p>
                        Proin varius, nunc sit amet consectetur consectetur, diam lectus sagittis libero, et porttitor sem dolor at elit.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ac lorem massa. 
                        Nulla maximus, metus eu sodales pulvinar, ex quam blandit mauris, a faucibus arcu risus non nibh.
                    </p>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
