
/*** HTML TAG ***/
html,body{
    margin:0;
    padding:0;
}
body{
    font-family: Open Sans, Helvetica, Arial, Sans Serif;
}
hr{
    margin: 3px;
    border-color: black;
}
h1{
    font-size:25pt;
    margin: 5px 0 10px 0;
}
h2{
    font-weight: 400;
    color: #696E7A
}
ul{
    list-style-type: none; 
    padding:0;
    margin:0;
}
/*** FIN HTML TAG ***/
p{
    margin: 8px 0;
    font-size: 12pt;
    color: #434343;
}

/*** HEADER ***/
#header { 
    //height: 69px;
    //border-bottom-right-radius: 60px;
    margin-bottom: 20px;
    margin-top: 30px;
}
#header ul { 
    margin :0;
    width: 100%;
}
#header .menu{
    height: 70px;
    padding: 0;
    border-top: 5px solid #3D73E3;
    border-bottom: 5px solid #3D73E3;
}
#header .menu ul{
    padding:0;
}
#header .menu li { 
    display: inline-block; 
    height: 70px;
    text-align: center;
}
#header .menu li:hover{
    text-decoration: none;
}

#header .categorie:hover{ background-color: #333; }
#header .menuHome{width: 85px; background:url('../images/icones/home.png') center no-repeat;}
#header .menuActualite{ width: 160px; }
#header .menuConseil{width: 160px;}
#header .menuFormation{width: 160px; position: relative;}
#header .menuProduits{width: 150px;}
#header .menuQsn{width: 180px;}
#header .menuQsn a {font-size: 16pt;}
#header .menuRecrutement{width: 180px;}

#header .menu .menuHome a{
    text-indent: -9999px;
    display: block;
}
/*     Liste déroulante FORMATION      */
#header .menuFormation>div{
    display:none;
    position: absolute;
    width:200px;
    top:65px;
    left:0;
    background: #F9BD63;
    min-height: 40px;
    z-index:500;
    overflow: hidden;
}
#header .menuFormation>div>div{
    width: 100%;
    float:left;
}
#header .menuFormation>div>div h1{
    color: white;
    font-weight: 300;
    font-size: 18pt;
    
}
#header .menuFormation:hover>div{
    display: block;
    background-color: #639FF9;
}
/*     FIN Liste déroulante FORMATION     */

#header .menu a{
    transition:0.4s;
    overflow:hidden;
    text-align: center;
    color: black;
    position: relative;
    font-weight:590;
    width:100%;
    height:100%;
    display: block;
    line-height: 70px;
    font-size: 14pt; 
}

#header .menu a:first-child{
    margin-left: 0;
}
#header .menu a:hover{
    text-decoration: none;
    color: #F9BD63;
}

#header .menu li:last-child:after{
    content:none;
}
#header .logo{
    width: 100%;
    padding:0;
    margin-bottom: 20px;
    height: 100%;
    
}
#header .logo a{
    line-height: 69px;
    display:block;
    width:204px;
    text-indent: -5000px;
    margin:0 auto;
    background: url('../images/logo_nuevo.png') no-repeat;
    overflow: hidden;
}
.menu{
    height: 100%;
    //background: #00A5DB;
    //background:#696E7A;
    padding:8px 20px;
}

.conteneurMenu{
    overflow: hidden;
}


/**  FIN HEADER  **/

/*** INDEX ***/

.container{ 
    margin: 0 auto;

}

.bandeau { height: 80px;  }
.actu { height: 350px; }
.produits { height: 40%; }


.minature{
    height: 30%;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border: solid 1px;
    margin-bottom: 19px;
    border: 1px solid #00a5db;
    padding: 5px 20px ;
}
.minature h1{
    border-bottom:4px double #00A5DB;
    color: #00A5DB;
}
.minature h1:before{
    content:'';
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 5px;
}
.minature:nth-of-type(1) h1:before{background-color: #00A5DB;}
.minature:nth-of-type(2) h1:before{background-color: red;}
.minature:nth-of-type(3) h1:before{background-color: yellow;}

.minature p{
    color:#00A5DB;
    font: normal 13pt;
    padding-top:5px;
}
.screen{
    position: relative;
    float: left;
    height: 350px;
    border: solid 1px;
    width: 100%;

}

@media (min-width: 1200px) {
    body{font-size: 14px;}
}

@media (max-width: 992px) {
    body{font-size: 12px;}
}

@media (min-width: 768px) {
    body{font-size: 10px;}
}

.conseil{ 
    min-height: 160px;
    padding-top: 15px; 
    padding-bottom: 15px; 
    background-color: #00A5DB; 
    border-radius: 60px 0 60px 0;
    margin-bottom: 27px;
    color:white;
}
.formation{ 
    min-height: 160px;
    background-color: #00A5DB; 
    border-radius: 60px 0 60px 0;
    padding-top: 15px; 
    color: white;
    padding-bottom: 15px; 
    margin-bottom: 27px;
}
.titreSectionIndex{
    color:white;
    padding-left: 15px;
}
.titreSectionIndex:before{
    content:'';
    width:20px;
    height:20px;
    display:inline-block;
    background-color: white;
    border-radius: 5px;
    margin-right: 8px;
}
.cache{
    display :none;
}

/** caroussel **/

.caroussel{ overflow: hidden; text-align: justify;}
.caroussel ul { margin-top: 5px; }
.carousel span { margin-top: 5px; }
.caroussel ul li span { font-weight: bold; }
.caroussel ul li span:before {
    content:'';
    width: 15px;
    height: 8px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: black;
}
.produits{
    margin: 20px 0;
}
.aside{
    padding-right:0 !important;
}
.encart{
    background-color:#F7F7F7;
    padding: 20px 25px;
}
.encart h2{
    
}
.encart p{
    margin: 15px 0;
}
.encart ul{
    list-style-type: square;
    
    padding-left:15px;
}
.encart li{
    
    margin:10px 0;
}
.actuHome{
    background-color:rgba(0, 165, 219,0.2);
  //  background-color:rgba(0, 165, 219,0.1);
    padding: 20px 25px;
}
.actuHome li{
    border-top: 1px solid #E8F7FC; 
    border-bottom:1px solid #A9E7FC;
}
.actuHome li:first-child{
    border-top: none;
}
.actuHome li:last-child{
    border-bottom: none;
}
.dateActu{
    font-weight: 400;
    font-style: italic;
    font-size:10pt;
}

/*** FIN index.html ***/

.article{
    margin-bottom: 20px;
    overflow: hidden;
}

/*** RECRUTEMENT ***/

#recrutementForm{
    padding: 10px 0;
}
/***  FIN RECRUTEMENT   ****/


/** FOOTER **/
.footer { 
    height: 20%; 
    background-color: #81848C;
    padding:15px 0;
    margin-top: 20px;
    border-top:8px solid #00A5DB;
    }
.footer a{
    color: white;
}
.footerCorporate{
    height:50px;
    background-color: #696E7A;
    overflow: hidden;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}


/* categorie formation */

.categorieFormation aside{ 
    background-color: rgba(0,165,219,0.2);
    padding: 20px 25px;
}

.itemCategorie{
    border-bottom: 1px solid #a9e7fc;
    padding-bottom:10px;
}

/* FIN categorie formation */

/* Actualites */
.liens{
    padding : 10px;
}
.liens a:hover{
   cursor: pointer;
}

/* FIN Actualites */


/* AUTRES */

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.italic{font-style: italic;}
.bold{font-weight: bold;}

.red{color: #ec4f4f;}

.no-padding-left{padding-left: 0 !important;}
.no-padding-right{padding-right: 0 !important;}

/*** menu mobile ***/

.menuMobile{
    width:200px;
    height: 500px;
    background-color: yellow;
    z-index:555;
    position: absolute;
    padding-top: 100px;
    display: none;
}
.menuMobile li { padding-top: 60px; border-top: solid 1px black; }
.btMenu{width: 100px; height: 100px; background-color: green; z-index:999; position: absolute;}

/*** fin menu mobile ***/  

/*** item secteur activite categorie formation ***/
.secteur{
    background-color: green;
    border-top: solid orange 40px; 
    border-right: solid orange 3px;
    margin : 10px;
}

.ul_secteur{
    border: thin solid black;
    border-radius: 20px;
    padding : 10px;
    margin: 5px; 
}

.titreSecteur{
    position: relative;
    top: -26px;
    text-align : center;
    display: block;
    font-size: 12px;
}

.selectionner{
    text-align: center;
    background-color: orange;
    font-weight: bold;
}

.creation_categorie{margin: 10px;}
.creation_categorie div{ 
    width: 32px; 
    height: 32px; 
    background-image: url('../images/add.png')
};

/** bootstrap extends **/

.col-centered{
    float: none;
    margin: 0 auto;
    background-color: red;
}

.add_secteur{
    margin-top: 10px;
}

/*** FIN bootstrap ***/