div.form_row {
    overflow: hidden;
    margin: 10px 0 20px 0;
    padding:8px 0 0 0;
}
div.form_row p.label {
    font: 12pt Helvetica Neue,Helvetica,​Arial,​sans-serif;
    color: #222;
    float: left;
    padding: 5px 0 0 0;
    display:inline-block;
    text-align: left;
}
div.form_widget p.label {
    font: 12pt Helvetica Neue,Helvetica,​Arial,​sans-serif;
    color: #222;
    padding: 5px 0 0 10px;
    display:inline-block;
    text-align: left;
}
div.form_row div.widget {
    float: left;
    color: #222;
    margin-top: 11px;
}
div.form_row div.widget input[type="text"] {
    border:1px solid #999;
    height: 40px;
    padding:5px 5px 5px 15px;
    color:#555;
    width:100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
}
div.form_row div.widget input[type="text"]:focus{
    border:1px solid #00A5DB;
    box-shadow: 0px 0px 5px 0px #00A5DB;
}
div.form_row div.widget input[type="file"]{
    color:#555;
    margin-top: 10px;
}
div.form_row div.widget input[type="file"]:invalid{
    border:none;
    box-shadow: none;
}
button{
    background-color: #00A5DB;
    color:white;
    width:100px;
    height:30px;
    border:none;
    border-radius: 8px 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
}
button:hover{
    background-color: #6cbd78;
}
div.form_row div.widget select {
    margin-top: 15px;
}
div.form_row div.widget textarea {
    width: 300px;
    min-height: 300px;
}
div.form_row div.formErreur {
    color: #222;
}
div.form_row div.formErreur ul{
    padding:0;
}
div.form_row div.formErreur li {
    display: block;
    list-style-type: none;
    font: 10pt helvetica;
    color:#ec4f4f;
}
div.form_row div.checkbox {
    color: white;
    font: 11pt Courier New;
}
div.form_row div.checkbox input {
    width: 50px;
}
div.form_row div.checkbox label {
    width: 950px;
    margin-right: 30px;
}

div.form_row div select {
    color: white;
    font: 11pt Courier New;
}
div.row div select {
    width: 50px;
        margin-right: 30px;
}
