{# empty Twig template #}
{% extends 'NuevoSiteBundle:Default:base.html.twig' %}

{%block title %}Formation Adminsitration{{parent()}}{% endblock %}
{%block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/nuevosite/css/formulaire.css') }}">
{%  endblock %}

{% form_theme form 'NuevoSiteBundle:Form:fields.html.twig' %}
{%block body %}
    
    <script type="text/javascript" >
        $(document).ready(function(){
        
        //append les deux liens "ajout objectif et programme"   
        var objectifs = $('ul.objectifs');
        var programme = $('ul.programme');    
        // ajoute un lien « add a tag »
        var $addObjLink = $('<a href="#" class="add_tag_link">Ajouter un objectif</a>');
        var $addProgLink = $('<a href="#" class="add_tag_link">Ajouter un programme</a>');
        var $newLinkLi = $('<li></li>').append($addObjLink);
        var $newLinkProg = $('<li></li>').append($addProgLink);

        objectifs.append($newLinkLi);
        programme.append($newLinkProg);
        
        $newLinkLi.on('click', function(e) {
            var prototype = objectifs.attr('data-prototype');
            // empêche le lien de créer un « # » dans l'URL
            e.preventDefault();
            // la longueur de la collection courante
            var $newForm = prototype.replace(/__name__/g, objectifs.children().length);
            objectifs.append($newForm); 
            //ajout du callback pour la suppression de l'item
            initSupprLienObjectifs()
        });

        $newLinkProg.on('click',function(e){
            var prototype = programme.attr('data-prototype');
            var newForm = prototype.replace(/__name__/g,programme.children().length);

            programme.append(newForm);
            //ajout du callback pour la suppression de l'item
            initSupprLienObjectifs()
            
        });
        });

        function initSupprLienObjectifs()
        {
            $('li.itemFormation a').each(function(){
                addSupprLien($(this));
            });
        }


        function addSupprLien($item)
        {   
            $item.on('click',function(){
                $item.parent().remove();
            });
        }

    </script>
    
    
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.titre) }}
        <div class="row">
        <span>Les objectifs de la formation:</span>    
        <ul class="objectifs" data-prototype="
        {% filter escape %}{% include 'NuevoSiteBundle:Admin:prototypeFormation.html.twig' with { 'item': form.objectifs.vars.prototype } %}{% endfilter %}">
        {% for objectifField in form.objectifs %}
            <li>    
                {{ form_row(objectifField) }} 
            </li>
        {% endfor %}
        </ul>
        </div>
        <div class="row">
            <h4>Dates Previsionnelles :</h4>
            Début : {{ form_widget(form.dateDebut) }}<br>
            Fin : {{ form_widget(form.dateFin) }}<br>
        </div>
        {{ form_row(form.contact) }}
        {{ form_row(form.lieu) }}
        {{ form_label(form.duree) }}
        {{ form_errors(form.duree) }}
        {{ form_widget(form.duree) }}
        <ul class="programme" data-prototype="{% filter escape %}{% include 'NuevoSiteBundle:Admin:prototypeFormation.html.twig' with { 'item': form.programme.vars.prototype } %}{% endfilter %}">">
        {% for item in form.programme %}
            {{ form_row(item)}}
        {% endfor %}
        </ul>
        {% do form.programme.setRendered %}
        {% do form.objectifs.setRendered %}
        {{form_end(form)}}
    </section>
    
{% endblock %}