{% extends 'NuevoSiteBundle:Default:base.html.twig' %}

{%block title %}Conseil Adminsitration{{parent()}}{% endblock %}
{%block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/nuevosite/css/formulaire.css') }}">
{%  endblock %}

{%block body %}
	<section>
		<h1>Liste des catégories</h1>
		<h2>modifier, supprimer gérer les differentes catgories</h2>
		<h2>creer un ctaegorie</h2>:
		<a href="{{ path('nuevo_admin_creer_conseil') }}">cree un categorie</a>
{% endblock %}

