{% extends 'NuevoSiteBundle:Default:base.html.twig' %}

{%block title %}Type Formation Adminsitration{{parent()}}{% endblock %}
{%block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/nuevosite/css/formulaire.css') }}">
{%  endblock %}

{%block body %}
	<section>
		<h1>Catégories</h1>
		<h2>Modifier, créer de nouvelles catégories</h2>

		<table class="table table-striped table-bordered table-striped">
		<tr>
			<th>intitule</th>
			<th>url</th>
			<th>actions</th>
			<th>formations</th>
		</tr>
		<tbody>
		{% for categorie in categories %}
			<tr>
				<td>{{categorie.intitule}}</td>
				<td>{{categorie.url}}</td>
				<td><a class="supprimer" href="{{ path('nuevo_admin_suppr_typeFormation', { 'url' : categorie.url } ) }}">supprimer</a>
				<a href="{{ path('nuevo_admin_modifier_typeForm', { 'url' : categorie.url } ) }}">modifier</a>
				</td>
				<td>
				{% if categorie.secteurs|default %}
					<span>les formations sont répertoriées par secteur activités</span>
					{% for secteur in categorie.secteurs %}
						<ul>
							<li><a href="{{ path('nuevo_admin_modifer_secteur',
						 	{ 'intitule' : secteur.intitule } )}}">{{secteur.intitule}}</a></li>
						</ul>
					{% endfor %}
				{% else %}
					<span>ajouter un secteur d'activité via l'onglet modifé pour créer vos formations</span>
				{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	</section>
	<section class="creation_categorie">
		<br>
		<a href="{{ path('nuevo_admin_type_formation') }}">cree un categorie</a>
	</section>
{% endblock %}