
<div>
	<h2>administration page recrutement</h2>
	<a href="{{ path('nuevo_admin_recrutement') }}"> recrutement admin</a>  
</div>
<div>
	<h2>administration actualites</h2>
	<a href="{{ path('nuevo_admin_actualite') }}">créer une nouvelle actu</a>
</div>
<div>
	<h2>Administration Formation</h2>
	<ul>
		<li>
			<span>gerer les categories</span><a href="{{ path('nuevo_admin_gestion_cat_formation') }}"> catégorie formation</a>  
		</li>
	</ul>
</div>	
<div>
	<h2>Conseil</h2>
	<ul>
		<li>
			<span>Toutes les activites de conseil</span><a href="{{ path('nuevo_admin__conseil') }}"> conseil</a>  
		</li>
	</ul>
</div>	