{% form_theme form 'NuevoSiteBundle:Form:fields.html.twig' %} 
			<tr class="row">
				<td class="col-md-12 col-sm-12">	
	                {{ form_row(item.intitule) }}
	                {{ form_errors(item.contenu) }}
	                {{ form_widget(item.contenu) }}
	            </td>
	        </tr>