{# page d'admin recrutement #}
{% extends 'NuevoSiteBundle:Default:base.html.twig' %}

{%block title %}Recrutement Adminsitration{{parent()}}{% endblock %}
{%block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/nuevosite/css/formulaire.css') }}">
{%  endblock %}
{% form_theme form 'NuevoSiteBundle:Form:textArea.html.twig' %}
{%block body %}

{{ tinymce_init() }}
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form.paragraphe1) }}
        {{ form_widget(form.paragraphe2) }}
        {{ form_row(form.valider) }}
        {{form_end(form)}}
    </section>
    
{% endblock %}    
    