{% extends 'NuevoSiteBundle:Default:base.html.twig' %}

{%block title %}Type Formation Adminsitration{{parent()}}{% endblock %}
{%block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/nuevosite/css/formulaire.css') }}">
{%  endblock %}

{% block body %}
	<h1>Secteur d'activite : {{secteur.intitule}}</h1>

	<h2>liste des formations:</h2>
	<ul>
	{% for formation in formations %}
		<li>{{formation.titre}}</li>
	{% endfor %}
	</ul>

	

	<a href="{{ path('nuevo_admin_formation', { 'secteur' : secteur.intitule } ) }}">creer une nouvelle formation</a> 
{% endblock %}