{# page d'admin recrutement #}
{% extends 'NuevoSiteBundle:Default:base.html.twig' %}

{%block title %}Type Formation Adminsitration{{parent()}}{% endblock %}
{%block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/nuevosite/css/formulaire.css') }}">
{%  endblock %}
{% form_theme form 'NuevoSiteBundle:Form:fields.html.twig' %} 
{%block body %}

<script type="text/javascript">
    $(document).ready(function(){

        var listeSecteurs = $('table tbody');
        console.log(listeSecteurs);
        $('.add_secteur').on('click', function(e) {
            e.preventDefault();
            var newForm = $('table').attr('data-prototype').replace(/__name__/g, listeSecteurs.children().length);
            listeSecteurs.append(newForm);
            $('.tinymce').each(function(){
                initTinyMCE();
            });
        });
    });
</script>

{{ tinymce_init() }}
{{ form_start(form, { 'attr': {'class': 'row'} }) }}
    <section class="row">
        <h3>Modifier la categorie : </h3>
        {{ form_errors(form) }}
        {{ form_row(form.intitule) }}
        {{ form_row(form.url) }}
    </section>
    <section class="row">    
        <h3>liste des secteurs d'activites : </h3>    
        <div class="row">
            <table class="col-md-12" data-prototype="{% filter escape %}{% include 'NuevoSiteBundle:Admin:prototypeSecteur.html.twig' with { 'item': form.secteurs.vars.prototype } %}{% endfilter %}">
            <tbody>
            {% for secteur in form.secteurs %}
                <tr class="row">
                    <td class="col-md-12 col-sm-12">    
                        {{ form_row(secteur.intitule) }}
                        {{ form_errors(secteur.contenu) }}
                        {{ form_widget(secteur.contenu) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>

        <button class="add_secteur">Ajouter</button>
    </section>
{% do form.secteurs.setRendered %}
{{ form_row(form.valider) }}
{{ form_end(form) }}
</div>    
{% endblock %}
