{# page d'admin recrutement #}
{% extends 'NuevoSiteBundle:Default:base.html.twig' %}

{%block title %}Type Conseil Adminsitration{{parent()}}{% endblock %}
{%block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/nuevosite/css/formulaire.css') }}">
{%  endblock %}
{% form_theme form 'NuevoSiteBundle:Form:fields.html.twig' %} 
{%block body %}

<script type="text/javascript">
    $(document).ready(function(){

        var listeSecteurs = $('.objectifs');
        var prototype = listeSecteurs.attr('data-prototype');
        console.info(prototype);
        var $addObjLink = $('<a href="#" class="add_tag_link">Ajouter un secteur d activites</a>');
        var $newLinkLi = $('<li></li>').append($addObjLink);
        listeSecteurs.append($newLinkLi);

        $newLinkLi.on('click', function(e) {
            // empêche le lien de créer un « # » dans l'URL
            e.preventDefault();

            // la longueur de la collection courante
            var newForm = prototype.replace(/__name__/g, listeSecteurs.children().length);
            // console.info("new form"+newForm);
            listeSecteurs.append(newForm);

        });
    });
</script>
<hgroup>
    <h1>Modifier une categorie de formation</h1>
    <h2>Gerer les differents secteurs d'activites</h2>
</hgroup>
<h3>Categorie formation : </h3>
{{ tinymce_init() }}
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.intitule) }}
        {{ form_row(form.url) }}
    </section>
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    
        <h4>liste des secteurs d'activites : </h4>
        <ul class="objectifs" data-prototype="{% filter escape %}{% include 'NuevoSiteBundle:Admin:prototypeSecteur.html.twig' with { 'item': form.secteurs.vars.prototype } %}{% endfilter %}">
        {% for secteur in form.secteurs %}
            
            <li class="ul_secteur">    
                {{ form_row(secteur.intitule) }}
                {{ form_errors(secteur.contenu) }}
                {{ form_widget(secteur.contenu) }}
            </li>
        {% endfor %}
        </ul>
        {% do form.secteurs.setRendered %}
        {{form_end(form)}}
    </section>
    
{% endblock %}
