{% block form_row %}
{% spaceless %}
    <div class="checkboxwrap">
        <div class="formErreur">{{ form_errors(form) }}</div>
        <div class="checkbox">{{ form_widget(form) }}</div>
        <p class="label">{{ form_label(form) }}</p>
    </div>
{% endspaceless %}
{% endblock form_row %}