{% block form_row %}
    {% spaceless %}
        <div class="form_row">
            <p class="label col-lg-6">{{ form_label(form) }}
                {% block field_label %}
                    {% if required %}
                        <span class="red" title="Champ obligatoire"> *</span>
                    {% endif %}
                {% endblock %}
            </p>
            <div class="widget  col-lg-6">
                {% block form_widget_simple -%}
                    {%- set type = type|default('text') -%}
                    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
                    {% if type == 'file' %}<output class="fileOut"></output>{% endif %}
                {%- endblock form_widget_simple %}

                </div>
            <div class="formErreur col-lg-12 row">{{ form_errors(form) }}</div>
        </div>
    {% endspaceless %}
{% endblock form_row %}
    
{% block textarea_widget %}
    {% spaceless %}
        <div class="form_widget">
            <div class="formErreur">{{ form_errors(form) }}</div>
            <p class="">
                {{ form_label(form) }}
                {{ block('field_label') }}
            </p>
            <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
        </div>
    {% endspaceless %}
{% endblock %}    
