{% block form_row %}
    {% spaceless %}
        {% block textarea_widget %}
            <div class="formErreur">{{ form_errors(form) }}</div>
            <p class="label">{{ form_label(form) }}</p>
            <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
        {% endblock textarea_widget %}
    {% endspaceless %}
{% endblock form_row %}